@import url('./__element/gallery__element.css');
@import url('./__img/gallery__img.css');
@import url('./__like/gallery__like.css');
@import url('./__place/gallery__place.css');
@import url('./__title/gallery__title.css');
@import url('./__trash/gallery__trash.css');
@import url('./__like/_state_active/gallery__like_state_active.css');


.gallery {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    max-width: 882px;
    margin: 0 auto;
    }

@media screen and (max-width: 1005px) {
    .gallery {
        margin: 0 6%;
    }
}

@media screen and (max-width: 320px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}